table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

td:first-of-type {
    text-align: left;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E0DAE2;
    padding: 30px 0;
}

.content {
    width: 70%;
    background: #849DA6;
    border-radius: 20px;
    padding: 30px 20px;
}

.content h2, p {
    text-align: center;
}

.content h2 {
    font-size: 30px;
    padding-bottom: 11px;
}

.content p {
    font-size: 20px;
}

.form_group label{
    font-size: 17px;
    font-weight: 400;
    display: block;
    padding-bottom: 7px;
}

.form_group {
    padding-bottom: 20px;
}

.form_group select {
    width: 250px;
}

input[type="checkbox"] {
    margin-right: 7px;
}

input[type="radio"] {
    margin-right: 7px;
}

.value_product {
    padding-bottom: 6px;
}

.currency_inputs {
    display: flex;
}

.currency_inputs .input_dollars {
    display: flex;
}

.currency_inputs .input_dollars label {
    margin-right: 5px;
}

.currency_inputs .input_cents {
    display: flex;
}

.currency_inputs input[type="text"] {
    border: 1.5px solid black;
}

.currency_inputs input[type="text"] {
    width: 70px;
}

.currency_inputs .input_cents input[type="text"] {
    width: 10px;
}

#comment {
    width: 60%;
    height: 200px;
}

button {
    border-style: none;
    border-radius: 20px;
    padding: 10px 25px;
}

button:hover {
    border: 1px solid black;
}